.App {
    display: flex;
    margin-top: 150px;
}

.inputbox {
    background-color: rgba(0, 132, 255, 0.8);
    border: 2px solid;
    border-radius: 15px;
    width: 1700px;
    margin: 10px;
    padding: 10px;
}

.outputbox {
    background-color: rgba(0, 132, 255, 0.8);
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.output{
    padding: 5px;
    background-color: aqua;
    border-radius: 15px;
}